<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hpush"
    android:installLocation="preferExternal" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.hpush.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hpush.permission.C2D_MESSAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label" >

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".app.activities.MainActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
                 This activity enables the search dialog to initiate searches
                in the SearchableActivity, enable the search dialog to send searches to SearchableActivity.
            -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".app.activities.SearchActivity" />
        </activity>
        <activity
            android:name=".app.activities.SubscribeTopicsActivity"
            android:label="@string/subscribing_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <!-- SearchActivity is the searchable activity; it performs searches. -->
        <activity
            android:name=".app.activities.SearchActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".app.activities.SettingActivity"
            android:label="@string/lbl_setting"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name=".app.activities.WebViewActivity"
            android:label="@string/application_name"
            android:screenOrientation="portrait" >

            <!--
                 This activity enables the search dialog to initiate searches
                in the SearchableActivity, enable the search dialog to send searches to SearchableActivity.
            -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".app.activities.SearchActivity" />
        </activity>
        <activity
            android:name=".app.activities.DailiesActivity"
            android:label="@string/lbl_recent"
            android:screenOrientation="portrait" >

            <!-- android:parentActivityName=".app.activities.MainActivity"> -->
            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".app.activities.MainActivity" /> -->
        </activity>
        <activity
            android:name=".app.activities.ConnectGoogleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FirstPage" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/application_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".app.SyncBookmarkIntentService"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/applicationId" />

        <!-- Event handler for changing system packages. -->
        <receiver
            android:name="com.chopping.application.InstalledAppReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- GCM needs receiver and service. -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.hpush" />
            </intent-filter>
        </receiver>

        <!-- [START gcm_listener] -->
        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false" />
        <service
            android:name=".gcm.UnregistrationIntentService"
            android:exported="false" />
        <service
            android:name=".gcm.SubscribeIntentService"
            android:exported="false" />
        <service
            android:name=".gcm.UnsubscribeIntentService"
            android:exported="false" />

        <!-- Event handler for changing system packages, for external links -->
        <receiver
            android:name="com.chopping.application.InstalledAppReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="0bf5835ac1569fe382ff64839c0be3d3ed9396b9" />

        <service
            android:name=".app.AppGuardService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <receiver
            android:name=".app.BootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
